# Include your project-specific ignores in this file
# Read about how to use .gitignore: 
# https://help.github.com/articles/ignoring-files
# in the discussion below root is the clone root, i.e
# the directory which contains .gitignore (this file)


# NOTE: ./node_modules can be built from package.json
# they are dev-dependencies only
# dependencies are in app/node_modules, app/libs, app/jspm_packages
# build node_modules locally from package.json by:
# root> npm install --savedev
node_modules
jspm_packages

# NOTE: ./app/build can be re-built by:
# root> gulp build
# root> gulp build-min

# NOTE: ./docs can be re-built in by
# root> gulp docco

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
#
# Vim swp-files
*.swp
